body {
  margin: 0;
}
#menuContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#menu {
  width: 16em;
  height: 13em;
  max-width: 50%;
  background-color: #4682b4;
  border-radius: 4px;
  text-align: center;
  font-family: Helvetica, sans-serif;
  color: #f0f0f0;
}
#menu h1 {
  margin: 0.3em 0 0 0;
  font-size: 3em;
}
#menu h2 {
  margin: 0 0 0.7em 0;
}
#menu button {
  width: 8em;
  height: 2.5em;
  border: none;
  outline: none;
  background-color: #dcffdc;
}
#menu button:hover {
  background-color: #b4ffb4;
}
#menu a {
  text-decoration: none;
  color: #dcdcff;
}
#menu a:hover {
  color: #b4b4ff;
}
canvas {
  z-index: -1;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
