html,
body {
  height: 100%;
  margin: 0;
}
#menu {
  top: calc(40%);
  left: calc(42%);
  position: absolute;
  z-index: 1;
  height: 12.75em;
  width: 16em;
  background-color: #325868;
  border-radius: 3px;
  box-shadow: 3px 3px 10px #777;
  font-family: helvetica;
  text-align: center;
  color: #f0f0f0;
}
#menu h1 {
  margin: 0.3em 0 0 0;
  font-size: 3em;
}
#menu h2 {
  margin: 0 0 0.75em 0;
}
#menu a {
  text-decoration: none;
  color: #c8c8ff;
}
#menu a:hover {
  color: #aaaaff;
}
#menu button {
  height: 3em;
  width: 10em;
  border: none;
  background-color: #c8ffc8;
}
#menu button:hover {
  background-color: #96ff96;
}
canvas {
  position: absolute;
  height: 100%;
  width: 100%;
}
