body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  color: #f0f0f0;
}
img {
  display: none;
}
#scoreBoards {
  position: absolute;
  top: 0;
  display: none;
}
#scoreBoards #avoidBoard,
#scoreBoards #collectBoard {
  opacity: 0.6;
  width: 17em;
  margin-top: 0.5em;
  margin-left: 0.5em;
  background-color: #4682b4;
  border-radius: 4px;
  padding: 0.5em 0.9em;
}
#scoreBoards #avoidBoard h3,
#scoreBoards #collectBoard h3,
#scoreBoards #avoidBoard p,
#scoreBoards #collectBoard p {
  margin: 0.25em 0;
}
#scoreBoards #avoidBoard p,
#scoreBoards #collectBoard p {
  text-align: left;
}
#scoreBoards #avoidBoard {
  display: block;
  background-color: #4d8cc0;
}
#scoreBoards #collectBoard {
  display: none;
  background-color: #a26f45;
}
#menuContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#menu {
  width: 16em;
  height: 13em;
  max-width: 50%;
  background-color: #4682b4;
  border-radius: 4px;
  text-align: center;
}
#menu h1 {
  margin: 0.3em 0 0 0;
  font-size: 3em;
}
#menu h2 {
  margin: 0 0 0.7em 0;
}
#menu button {
  width: 8em;
  height: 2.5em;
  border: none;
  outline: none;
  background-color: #dcffdc;
}
#menu button:hover {
  background-color: #b4ffb4;
}
#menu a {
  text-decoration: none;
  color: #dcdcff;
}
#menu a:hover {
  color: #b4b4ff;
}
canvas {
  z-index: -1;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
#finish {
  display: none;
  background-color: #4682b4;
  text-align: center;
}
#mostAvoidedContainer,
#mostCollectedContainer,
#bestCombinedScoreContainer {
  display: inline-block;
  width: 33.333%;
}
#mostCollectedContainer {
  left: 33.333%;
}
#bestCombinedScoreContainer h3 {
  font-size: 0.9em;
}
