body {
	margin: 0;
}

#menuContainer {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#menu {
	width: 16em;
	height: 13em;
	max-width: 50%;

	background-color: #4682b4;
	border-radius: 4px;

	text-align: center;
	font-family: Helvetica, sans-serif;
	color: rgb(240,240,240);

	h1 {
		margin: 0.3em 0 0 0;
		font-size: 3em;
	}
	h2 {
		margin: 0 0 0.7em 0;
	}

	button {
		width: 8em;
		height: 2.5em;

		border: none;
		outline: none;

		background-color: rgb(220,255,220);;
		&:hover {
			background-color: rgb(180,255,180);;
		}
	}

	a {
		text-decoration: none;
		color: rgb(220,220,255);
		&:hover {
			color: rgb(180,180,255);
		}
	}
}

canvas {
	z-index: -1;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
}
