doctype html
html
	head
		title bullet | jackharrhy
		link(rel="stylesheet", href="css/bullet.css")

	body
		img(id="imgthisIsYou", src="img/thisIsYou.png")

		#scoreBoards
			#avoidBoard
				h3 Seconds Avoided
				p#secondsAvoided 0

			#collectBoard
				h3 Seconds left to collect
				p#secondsLeft 20

				h3 Amount Collected
				p#amountCollected 0

		#menuContainer
			#menu
				h1 bullet
				h2 by jackharrhy

				button#start PLAY

				a(href="https://github.com/jackharrhy/bullet")
					p Source on Github

		#finish
			h1 Game Over!

			#yourScores
				h2 Your Scores

				#yourAvoidedContainer
					h3 Your Avoided

					ol#yourAvoided

				#yourCollectedContainer
					h3 Your Collected

					ol#yourCollected

				#yourCombinedScoreContainer
					h3 Your Combined Score

					ol#yourCombinedScore

			#highScores
				h2 Highscores

				#mostAvoidedContainer
					h3 Most Avoided

					ol#mostAvoided

				#mostCollectedContainer
					h3 Most Collected

					ol#mostCollected

				#bestCombinedScoreContainer
					h3 Best Combined Score

					ol#bestCombinedScore

		canvas#canvas
			p Your browser doesn't support the HTML5 canvas, please upgrade to a suitable browser

		script(src="js/bullet.js")
