doctype html
html
	head
		title bullet | jackharrhy
		link(rel="stylesheet", href="css/bullet.css")

	body
		#menuContainer
			#menu
				h1 bullet
				h2 by jackharrhy

				button#start PLAY

				a(href="https://github.com/jackharrhy/bullet")
					p Source on Github 

		canvas#canvas
			p Your browser doesn't support the HTML5 canvas, please upgrade to a suitable browser

		script(src="js/bullet.js")
