doctype html
html
	head
		title bullets | jackharrhy
		link(rel="stylesheet", href="css/bullets.min.css")
	body
		#canvasContainer
			canvas(width="512px", height="32px", id="menuCanvas", onkeypress="onKeyPress(e);")
			canvas(width="512px", height="512px", id="gameCanvas", onkeypress="onKeyPress(e);")
				p Your browser does not support the HTML5 canvas API, please upgrade to a suitable browser

		script(src="js/mousetrap.min.js")
		script(src="js/bullets.min.js")
