doctype html
html
	head
		title bullet | jackharrhy
		link(rel="stylesheet", href="css/bullet.css")

	body
		canvas#canvas
			p Your browser doesn't support the HTML5 canvas, please upgrade to a suitable browser

		script(src="js/bullet.js")
